{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Tau Research Dashboard</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- Template style -->
    <link rel="stylesheet" href="{% static 'dist/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'dist/et-line-font/et-line-font.css' %}">
    <link rel="stylesheet" href="{% static 'dist/font-awesome/css/font-awesome.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'dist/weather/weather-icons.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'dist/weather/weather-icons-wind.min.css' %}">

    <!-- HTML5 shim and Respond.js' %} for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js' %} doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js' %}"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js' %}"></script>
    <![endif]-->

    <script src="{% static 'plugins/charts/code/highcharts.js' %}"></script>
</head>

<body class="sidebar-mini">
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header dark-bg">
            {% if user.is_admin == True %}
            <!-- Logo -->
            <a href="{% url 'dashboard' %}" class="logo dark-bg">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><img src="{% static 'dist/img/logo.png' %}" alt="Ovio"></span>
                <!-- <span class="logo-mini"><img src="http://tauresearch.co.nz/static/images/logo.png" alt="Ovio"></span> -->
                <!-- logo for regular state and mobile devices -->
                <!-- <span class="logo-lg"><img src="{% static 'dist/img/logo-lg.png' %}" alt="Ovio"></span> -->
                <span class="logo-lg"><img src="http://tauresearch.co.nz/static/images/logo.png" alt="Ovio"></span>
            </a>
            {% elif user.is_org == True %}
            <a href="{% url 'org_portal' %}" class="logo dark-bg">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><img src="{% static 'dist/img/logo.png' %}" alt="Ovio"></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><img src="{% static 'dist/img/logo-lg.png' %}" alt="Ovio"></span>
            </a>
            {% elif user.is_client == True %}
            <a href="{% url 'client_portal' %}" class="logo dark-bg">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><img src="{% static 'dist/img/logo.png' %}" alt="Ovio"></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><img src="{% static 'dist/img/logo-lg.png' %}" alt="Ovio"></span>
            </a>
            {% else %}
            <a href="{% url 'dashboard' %}" class="logo dark-bg">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><img src="{% static 'dist/img/logo.png' %}" alt="Ovio"></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><img src="{% static 'dist/img/logo-lg.png' %}" alt="Ovio"></span>
            </a>
            {% endif %}
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"> <span class="sr-only">Toggle
                        navigation</span> </a>
                <div class="pull-left search-box">
                    <form action="#" method="get" class="search-form">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i
                                        class="fa fa-search"></i> </button>
                            </span>
                        </div>
                    </form>
                    <!-- search form -->
                </div>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{% static 'dist/img/img1.jpg' %}" class="user-image" alt="User Image"> <span
                                    class="hidden-xs">{{ user.first_name }} {{ user.last_name }}</span> </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <div class="pull-left user-img"><img src="{% static 'dist/img/img1.jpg' %}"
                                            class="img-responsive" alt="User"></div>
                                    <p class="text-left">{{ user.first_name }} {{ user.last_name }}
                                        <small>{{user.email}}</small>
                                    </p>
                                    <div class="view-link text-left"><a href="#">View Profile</a> </div>
                                </li>
                                <li><a href="#"><i class="icon-profile-male"></i> My Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"><i class="icon-gears"></i> Account Setting</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'logout' %}"><i class="fa fa-power-off"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Load Sidebar Menu Bar -->
        {% include 'includes/navbar.html' %}

        {% block content %}
        {% endblock %}

        <!-- Main Footer -->
        <footer class="main-footer dark-bg">
            <div class="pull-right hidden-xs"> Version 3.0</div>
            Copyright &copy; 2022 Tau Research. All rights reserved.
        </footer>
    </div>
    <!-- wrapper -->

    <!-- jQuery -->
    <script src="{% static 'dist/js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dist/js/ovio.js' %}"></script>

    <!-- charts -->
    <script src="{% static 'plugins/charts/code/modules/exporting.js' %}"></script>
    <script src="{% static 'plugins/charts/chart-functions.js' %}"></script>
</body>

</html>